.admin-container {
  padding: 40px;
}

.admin-container h1 {
  margin-bottom: 20px;
}

.admin-list {
  margin-top: 30px;
}

.admin-list div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}