.game-card {
  background: #020617;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #9333ea;
}

.game-card img {
  width: 100%;
  border-radius: 8px;
}

.game-card h3 {
  margin-top: 10px;
  color: #06b6d4;
}

.game-card p {
  margin: 5px 0;
}